.container {
  position: relative;
  width: 100%;
  height: 400px;
}
.inner {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: yellow;
}